{% extends "home.html" %}
{% block body %}

<div class="col">
        {% if session.logged_in %}
          <h1>Todos os meus Amigos</h1>

          <ul class=list-group list-group>
              {% for amg in amigos %}
            <li class="list-group-item">
            
              <a href="{{ url_for('perfil', idusuario=amg[0]) }}">{{ amg[1] }} {{ amg[2] }}</a> <br><br></li>
              {% else %}
              <li class="list-group-item"><em>Vá fazer amigos, OMG!</em>        </li>
              {% endfor %}
              {% endif %}
            </ul>
          <h1>Pessoas nesta rede social</h1>
        
        <ul class=list-group list-group>
            {% for amg in todaspessoas %}      
          <li class="list-group-item list-group-item">
                
                 <a href="{{ url_for('perfil', idusuario=amg[0]) }}">{{ amg[1] }} {{ amg[2] }}</a> <br><br>
</li>
                {% endfor %} 
    

        </div>

{% endblock %}