{% extends "home.html" %}
{% block body %}


    
    <div class="row-2">
            <div class="col-lg-9">
            <h3>Comentarios</h3><p>
            <ul class=list-group list-group-flush>
            {% for comentario in comentarios %}
            <li class="list-group-item"><h4  class=display-4><a href="{{ url_for('perfil', idusuario=comentario[0]) }}">  {{ comentario[1] }} {{ comentario[2] }} </a> -  <b>{{ comentarios[6] }} </b></h4>
                <h5> ({{ comentario[1] }}{{ comentario[2] }}) </h5>  {{ comentario[4] |safe }}
            {% else %}
            <li class="list-group-item"><em>Não há postagens novas</em>
            {% endfor %}

            </ul> 
        </div>

        </div>
</div>



{% endblock %}