{% extends "home.html" %}
{% block body %}

<div style="color:white;background-color:darkslategray  " class="jumbotron">

<h3 class="display-3">&nbsp;<b>{{ publicacao[0][1] }} {{ publicacao[0][2] }} </b> postou em {{ publicacao[0][6] }}: </h3><br>
<h4 class="display-4">{{ publicacao[0][5] }} </h4>

</div>
    
{% if session.logged_in %}
<div class="col-5">
   
    <form action="{{ url_for('add_comentario',id_publicacao=publicacao[0][0]) }}" method=post class=add-entry>
        <div class="form-group">
            <label for="exampleInputPassword1">Escreva um Comentário</label>
            <textarea type="texto" class="form-control" name="text" rows="5" cols=40 placeholder="O Que você está pensando agora?"></textarea>
        </div>
    <div class="form-group">
        <div class="form-row">
                <div class="form-group col">
                    <div class="form-group col">
                    <button type="submit" class="btn btn-primary">Postar</button> </div></div>

        </div>
        </form>      
    </div>
    {% endif %}





    <div class="row-2">
            <div class="col-lg-9">
            <h3>Comentarios</h3><p>
            <ul class=list-group list-group-flush>
            {% for comentario in comentarios %}
            <li class="list-group-item"><h4  class=display-4><a href="{{ url_for('perfil', idusuario=comentario[0]) }}">  {{ comentario[1] }} {{ comentario[2] }} </a> -  <b>{{ comentario[3] }} </b></h4>
                <h5> ({{ comentario[1] }}{{ comentario[2] }}) </h5>  {{ comentario[4] |safe }}
                
                {% if session.userid == publicacao[0][7] %}
                <br><br>
                <form action="{{ url_for('remover_comentario',idcomentario=comentario[5]) }}" method=post class=add-entry>
                    <button type="submit" class="btn btn-xs btn-basic">Remover Comentario</button></form>
                {% endif %}


            {% else %}
            <li class="list-group-item"><em>Não há postagens novas</em>
            {% endfor %}

            </ul> 
        </div>

        </div>
</div>



{% endblock %}