{% extends "home.html" %}
{% block body %}

<div style=" width: 100%;"  class="container-fluid">

  <h2>Criar Grupo</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('page_criar_grupo') }}" method=post>
      
    <dl>
        <div class="form-row">
            <div class="col">
      <dt>Nome do Grupo
      <dd><input class="form-control" type=text name=grupo> </div>
        <div class="col">
      <dt>Descrição:
      <dd><input class="form-control" type=text name=descricao></div> </div>
        <div class="form-row">
            <div class="col">
      <dd><input type=submit value="Criar Grupo">
    </dl>
  </form>
  </div>
{% endblock %}