{% extends "home.html" %}
{% block body %}

<div class="alert alert-success" role="alert">
    {% if session.logged_in %}
    <h3 class="display-4">Olá {{ session['firstname']}} {{ session['lastname'] }}</h1>
    {% else %}
    <h1 class="display-4">Bem vindo ao futuro da internet!</h1>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="cadastro" role="button">Cadastre-se já!</a>
    </p>
    {% endif %}
</div>

{% include "feeditems.html" %}



{% endblock %}