{% extends "home.html" %}
{% block body %}


{% if verificar_status_grupo(detalhes_grupo[0][0]) == 'Bloqueado' %}

<h1>USUÁRIO BLOQUEADO!!!</h1>
<br><br><br><br>

{% else %}

<div style="background-image:url( {{ url_for('static', filename='photo3.jpg') }}) ;color:white;" class="jumbotron">
    
    <h1 class="display-1">&nbsp;{{ detalhes_grupo[0][1]}}</h1><br>
    <h4 class="display-1">&nbsp;&nbsp;{{ detalhes_grupo[0][2] }}</h4>
    <br>
    {% if session.logged_in %}

    {% if verificar_status_grupo(detalhes_grupo[0][0]) == 'Comum' %} <h3>Membro</h3>
    <form action="{{ url_for('grupo_remover_amigo', id_grupo=id_grupo,id_pessoa=session['userid']) }}" method=post class=add-entry>
            <button type="submit" class="btn btn-sm btn-danger">Sair do Grupo</button></form>
               

    {% elif verificar_status_grupo(detalhes_grupo[0][0]) == 'Administrador' %} 
    <h3>Administrador</h1>
      <form action="{{ url_for('grupo_remover_amigo', id_grupo=id_grupo, id_pessoa=session['userid']) }}"  method=post class=add-entry>
          <button type="submit" class="btn btn-sm btn-danger">Sair do Grupo</button></form>
      {% endif %}

    {% if not verificar_status_grupo(detalhes_grupo[0][0]) %}
    <h3>Não-Membro</h1>
      <form action="{{ url_for('grupo_adicionar_amigo', id_grupo=id_grupo,id_pessoa=session['userid'],tipo_membro='Comum') }}" method=post class=add-entry>
          <button type="submit" class="btn btn-sm btn-success">Participar</button></form>
    
    {% endif %}
    {% endif %}
</div>

{% if not verificar_status_grupo(detalhes_grupo[0][0]) %}
<h3>Participe do Grupo para ver publicações e membros</h1>

{% else %}

{% if session.logged_in %}
<div class="col-5">
   
    <form action="{{ url_for('grupo_add_postagem',id_grupo=id_grupo) }}" method=post class=add-entry>
        <div class="form-group">
            <label for="exampleInputPassword1">Escreva uma postagem</label>
            <textarea type="texto" class="form-control" name="text" rows="5" cols=40 placeholder="O Que você está pensando agora?"></textarea>
        </div>
    <div class="form-group">
        <div class="form-row">
                <div class="form-group col">
                    <div class="form-group col">
                    <button type="submit" class="btn btn-primary">Postar</button> </div></div>

        </div>
        </form>      
    </div>
    {% endif %}








<div class="row-2">
    <div class="col-lg-9">
    <h3>Mural do Grupo</h3><p>
    <ul class=list-group list-group-flush>
    {% for post in postagens_grupo %}
    <li class="list-group-item"><h4  class=display-4><a href="{{ url_for('perfil', idusuario=post[1]) }}">  {{ post[3] }} {{ post[4] }} </a> -  <b>{{ post[6] }} </b></h4>
        <h6> {{ post[0] }} - (@{{ post[1] }} {{ post[2] }})  <a href="{{ url_for('page_comentarios', idpublicacao=post[0]) }}">Visualizar Comentarios</a> </h6>  {{ post[5] |safe }}
    
        {% if session.logged_in %}
        {% if verificar_status_grupo(detalhes_grupo[0][0]) == 'Administrador' %}
        <br><br>
        <form action="{{ url_for('remover_publicacao',idpublicacao=post[0]) }}" method=post class=add-entry>
            <button type="submit" class="btn btn-xs btn-basic">Remover Publicacao</button></form>
        {% endif %}
        {% endif %}
    
    
        {% else %}
    <li class="list-group-item"><em>não há publicações aqui. </em>
    {% endfor %}

    </ul> 
</div>
<div class="col-sm-3">
  <h3>Amigos</h3>
<ul class=list-group list-group>
        {% for amg in membros_grupo %}
        <li class="list-group-item"><h5  class=display-4> <a href="{{ url_for('perfil', idusuario=amg[1]) }}">{{ amg[4] }} {{ amg[5] }} <b> {{amg[2]}}</b></a> </h5>
        {% else %}
        <li class="list-group-item"><em>Não há pessoas aqui, OMG!</em>
        {% endfor %}


</div>
</div>
</div>







{% endif %}
{% endif %}

    



{% endblock %}