{% extends "home.html" %}
{% block body %}

{% if verificar_bloqueio(pessoa[0]) %}

<h1>USUÁRIO BLOQUEADO!!!</h1>
<br><br><br><br>
<form action="{{ url_for('web_desbloquear_pessoa',id_amigo=pessoa[0]) }}" method=post class=add-entry>
    <button type="submit" class="btn btn-sm btn-danger">Desbloquear</button></form>

{% else %}

<div style="background-image:url( {{ url_for('static', filename='photo-bg.jpg') }}) ;color:white;" class="jumbotron">
    {% if session.logged_in %}
    <h1 class="display-1">&nbsp;{{ pessoa[1]}} {{ pessoa[2] }}</h1><br>
    <h4 class="display-1">&nbsp;&nbsp;{{ pessoa[6] }}</h4>
    <br>
    {% if session.userid == pessoa[0] %}
    <b> Meu Perfil </b>
    {% else %}
    {% if verificar_amizade(pessoa[0]) %}
    <form action="{{ url_for('web_remover_amigo',id_amigo=pessoa[0]) }}" method=post class=add-entry>
        <button type="submit" class="btn btn-sm btn-info">Remover Amigo</button></form>    
 
    {% else %}

        <form action="{{ url_for('web_solicitar_amigo',id_amigo=pessoa[0]) }}" method=post class=add-entry>
            <button type="submit" class="btn btn-sm btn-success">Solicitar Amizade</button></form>
               
    {% endif %}
    <form action="{{ url_for('web_bloquear_pessoa',id_amigo=pessoa[0]) }}" method=post class=add-entry>
        <button type="submit" class="btn btn-sm btn-danger">Bloquear</button></form>
    {% endif %}
    {% else %}
    <h1 class="display-1">&nbsp;{{ pessoa[1]}} {{ pessoa[2] }}</h1><br>
    <h4 class="display-1">&nbsp;&nbsp;{{ pessoa[6] }}</h4>
    {% endif %}
</div>

    <div class="row-5">
            {% if session.logged_in %}
        <div class="col-5">
           
            <form action="{{ url_for('add_post_amigo',id_amigo=pessoa[0]) }}" method=post class=add-entry>
                <div class="form-group">
                    <label for="exampleInputPassword1">Postagem</label>
                    <textarea type="texto" class="form-control" name="text" rows="5" cols=40 placeholder="O Que você está pensando agora?"></textarea>
                </div>
            <div class="form-group">
                <div class="form-row">
                        <label for="exampleInputEmail1">Publico</label>
                        <div class="form-group col">
                    <select class="form-control form-control-sm" name="privacidade">
                            <option value="amigos">Amigos</option>
                            <option value="publico">Publico</option>
                            </select></div>
                            <div class="form-group col">
                            <button type="submit" class="btn btn-primary">Postar</button> </div></div>

                </div>
                </form>      
            </div>
            {% endif %}

    <div class="row-2">
            <div class="col-lg-9">
            <h3>Mural</h3><p>
            <ul class=list-group list-group-flush>
            {% for entry in entries %}
            <li class="list-group-item"><h4  class=display-4><a href="{{ url_for('perfil', idusuario=entry[8]) }}">  {{ entry[3] }} {{ entry[4] }} </a> -  <b>{{ entry[6] }} </b></h4>
                <h6> {{ entry[0] }} - (@{{ entry[1] }} {{ entry[2] }})  <a href="{{ url_for('page_comentarios', idpublicacao=entry[0]) }}">Visualizar Comentarios</a> </h6>  {{ entry[5] |safe }}
            
                {% if session.logged_in %}
                {% if session.userid == pessoa[0] %}
                <br><br>
                <form action="{{ url_for('remover_publicacao',idpublicacao=entry[0]) }}" method=post class=add-entry>
                    <button type="submit" class="btn btn-xs btn-basic">Remover Publicacao</button></form>
                {% endif %}
                {% endif %}
            
            
                {% else %}
            <li class="list-group-item"><em>Não há postagens novas</em>
            {% endfor %}

            </ul> 
        </div>
        <div class="col-sm-3">
          <h3>Amigos</h3>
        <ul class=list-group list-group>
                {% for amg in amigos %}
                <li class="list-group-item"><h5  class=display-4> <a href="{{ url_for('perfil', idusuario=amg[0]) }}">{{ amg[1] }} {{ amg[2] }}</a> </h5>
                {% else %}
                <li class="list-group-item"><em>Não há pessoas aqui, OMG!</em>
                {% endfor %}
    

        </div>
        </div>
</div>
      
{% endif %}

    


{% endblock %}